.menu {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 120rem;
    margin: 0 auto;
}

.menu-content h1 {
    font-size: 2.3rem;
}

.menu-content h1 a{
    position: relative;
    padding: 0.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-content h1 img{
    max-width: auto;
    max-height: auto;
    width: 50px;
}

.menu-content h1 a::before {
    content: '';
    position: absolute;
    top: -0.2rem;
    left: -0.4rem;
    background: transparent;
    border: 0.2rem solid transparent;
}

.menu-content h1 a:hover::before {
    animation: borda_tr 0.25s ease-in-out forwards;
}

.menu-content h1 a::after {
    content: '';
    position: absolute;
    background: transparent;
    bottom: 0;
    right: 0;
    border: 0.2rem solid transparent;
}

.menu-content h1 a:hover::after {
    animation: borda_bl 0.25s ease-in-out forwards;
}

.menu-content ul {
    display: flex;
}

.menu-content ul li {
    padding: 1rem;
}

.menu-content ul li a {
    display: block;
    position: relative;
    font-size: 1.8rem;
    padding: 0.5rem;
    border: 0.2rem solid transparent;
    color: white;
}

.menu-content ul li a:hover {
    border: 0.2rem solid rgb(89, 0, 255);
}

.menu-content ul li a::before {
    content: '';
    position: absolute;
    left: -0.2rem;
    top: -0.1rem;
    background: transparent;
    border: 0.2rem solid transparent;

}

.menu-content ul li a::after {
    content: '';
    position: absolute;
    bottom: -0.2rem;
    right: -0.2rem;
    background: transparent;
    border: 0.2rem solid transparent;
}

.menu-content ul li a:hover::before {
    animation: borda_tr 0.5s ease-in-out alternate-reverse;
}

.menu-content ul li a:hover::after {
    animation: borda_bl 0.5s ease-in-out alternate-reverse;
}

@keyframes borda_tr {
    0% {
        width: 0;
        height: 0;
        border-top-color: red;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    50% {
        width: 100%;
        height: 0;
        border-top-color: rgb(212, 0, 255);
        border-left-color: transparent;
        border-right-color: rgb(212, 0, 255);
        border-bottom-color: transparent;
    }

    100% {
        width: 100%;
        height: 97%;
        border-top-color: rgb(212, 0, 255);
        border-left-color: transparent;
        border-right-color: rgb(212, 0, 255);
        border-bottom-color: transparent;
    }
}

@keyframes borda_bl {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: rgb(212, 0, 255);
    }

    50% {
        width: 100%;
        height: 0;
        border-top-color: transparent;
        border-left-color: rgb(212, 0, 255);
        border-right-color: transparent;
        border-bottom-color: rgb(212, 0, 255);
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-left-color: rgb(212, 0, 255);
        border-right-color: transparent;
        border-bottom-color: rgb(212, 0, 255);
    }
}
